@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(9 9 11);
  --background-start-rgb: rgb(9 9 11);
}


body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
  font-family: 'Roboto', sans-serif; /* Set Roboto as the default font */
}


.ticker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0; 
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; 
}

.ticker {
  /* width: 100%; */
  white-space: nowrap;
  
}

.ticker-content {
  display: inline-block;
}

/* Speed variations */
.ticker-speed1 .ticker-content {
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.ticker-speed2 .ticker-content {
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

/* Direction variations */
.left-to-right .ticker-content {
  animation-name: scrollingLeftToRight;
  animation-timing-function: linear;
}

.right-to-left .ticker-content {
  animation-name: scrollingRightToLeft;
  animation-timing-function: linear;
}


@keyframes scrollingLeftToRight {
  0% {
      transform: translateX(-100vw);
  }

  100% {
      transform: translateX(100vw);
  }
}

@keyframes scrollingRightToLeft {
  0% {
      transform: translateX(100vw);
  }

  100% {
      transform: translateX(-100vw);
  }
}

@media screen and (max-width: 640px) {
  /* Styles for small screens like iPhones */
  .ticker-container {
    font-size: 0.8rem; /* adjust font size for ticker on small screens */
  }
  body {
    font-size: 0.8rem; 
  }
}