@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(9 9 11);
  --background-start-rgb: rgb(9 9 11);
}


body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
  font-family: 'Roboto', sans-serif; /* Set Roboto as the default font */
}


.ticker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.ticker {
  width: 100%;
  white-space: nowrap;
}

.ticker-content {
  display: inline-block;
}

/* Speed variations */
.ticker-speed1 .ticker-content {
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.ticker-speed2 .ticker-content {
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

/* Direction variations */
.left-to-right .ticker-content {
  animation-name: scrollingLeftToRight;
  animation-timing-function: linear;
}

.right-to-left .ticker-content {
  animation-name: scrollingRightToLeft;
  animation-timing-function: linear;
}

@keyframes scrollingLeftToRight {
  0% {
      transform: translateX(-100%);
  }

  100% {
      transform: translateX(200%);
  }
}


@keyframes scrollingRightToLeft {
  0% {
      transform: translateX(100%);
  }

  100% {
      transform: translateX(-200%);
  }
}